<div>
  <div class= "text-center px-4 mx-auto flex-wrap-inherit">
    <h1 class="text-2xl mt-4 font-bold text-white capitalize">Enter Details of the patient</h1>
  </div>
  <div class="mt-6">
    <div class="flex flex-wrap">
      <div class="w-1/2 px-3 mx-auto mt-0 md:flex-0 shrink-0 md:w-7/12 lg:w-5/12 xl:w-4/12">
        <div class="relative z-0 flex flex-col min-w-0 break-words bg-slate-800 border-0 shadow-xl rounded-2xl bg-clip-border">
          <div class="flex-auto p-6">
            <%= form_with model: @patient do |f| %>

              <% @patient.errors.full_messages.each do |message| %>
                <div><%= message %></div>
              <% end %>
              <div class="field mb-4">
                <%= f.text_field :name, placeholder: "Full Name", class: "placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" %>
              </div>
              <div class="field mb-4">
                <%= f.text_field :phone, placeholder: "Phone", class: "placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" %>
              </div>
              <div class="field mb-4">
                <%= f.text_field :disease, placeholder: "Disease", class: "placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" %>
              </div>
              <div class="field mb-4">
                <%= f.label :doctor_id, "Choose Doctor for appointment"  %>
                <%= f.collection_select :doctor_id, Doctor.all, :id, :name, {}, { class: "text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow"} %>
              </div>
              <div class="field mb-4">
                <%= f.label :appointment_date %>
                <%= f.date_field :appointment_date, class: "placeholder:text-gray-500 text-sm w-full focus:shadow-primary-outline leading-5.6 ease block appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" %>
              </div>
              <div class="field mb-4">
                <%= f.label :appointment_time %>
                <%= f.time_field :appointment_time, class: "placeholder:text-gray-500  text-sm w-full focus:shadow-primary-outline leading-5.6 ease block appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" %>
              </div>
              <div class="actions cursor-pointer">
              <%= f.submit "Create new patient", class: "inline-block w-full px-8 py-2 text-sm leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>